<div class="row">
	<div class="item-container" ng-repeat="item in menu.items">
		<div class="col-md-4">
			<img ng-src="images/{{item.img}}" alt="item.name">
			<p><a ui-sref="item({id: item.id})">{{item.name}}</a></p>
			<p>Rating: {{item.rating}} <span ng-if="item.rating > 4.0" ng-class="{'text-success': item.rating > 4.0}"> People love this item</span></p>
			<button ng-click="menu.increment(item)">+</button>
			<button ng-click="menu.decrement(item)">-</button>
			
			<div class="well">
				<select ng-model="item.meal" name="">
					<option value="breakfast">Breakfast</option>
					<option value="lunch">Lunch</option>
					<option value="dinner">Dinner</option>
				</select>
				<button ng-click="menu.chooseItem(item.meal,item.name)">Select Item</button>
			</div>
		</div>
	</div>	
</div>	